import(methods)
import(ggplot2)
import(grDevices)
import(MultiAssayExperiment)

importFrom(plyr, alply, ddply)
importFrom(stats, var, cor)
importFrom(gtools, permutations)
importFrom(S4Vectors, DataFrame)

exportClasses(MIDTList)

export(MIDTList)
export(imputedData)
export(MIMFA)
export(missPattern)
export(plotInd)
export(plotVar)
export(tuneM)
export(missingIndv)
export(compromise)
export(configurations)
export(imputedIndv)
export(MIparam)

S3method(print, missPattern)
S3method(print, tuneM)
